<?xml version="1.0" encoding="utf-8"?>
<sumeru>
    <data>
        <view id="view_{{.Name}}_kanban" model="{{.ModelDotted}}" type="kanban">
            <field name="color" invisible="1"/>
            <field name="name" string="Name"/>
        </view>
    </data>
</sumeru>
